---
import Footer from "@components/Footer.astro";
const { title, url } = Astro.props;
const properties = {
	sufix: "Cristina León Artísta | Bogotá, Colombia",
	heading: "Cristina León",
	pages: {
		portafolio: {
			href: "/",
			label: "Portafolio"
		},
		biografia: {
			href: "/biografia",
			label: "Biografía"
		}
	}
};
const { sufix, heading, pages } = properties;
const { portafolio, biografia } = pages;
const isPortafolio = url === portafolio.href;
const isBiografia = url === biografia.href;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title} | {sufix}</title>
		<meta name="description" content="Portafolio con ilustraciones de la artista plástica Cristina León de Bogotá Colombia">
		<meta property="og:title" content="Cristina León Artista" />
    <meta property="og:description" content="Portafolio con ilustraciones de la artista plástica Cristina León de Bogotá Colombia" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://cristinaleonilustradora.com" />
    <meta property="og:image" content="http://cristinaleonilustradora.com/img/cristina-leon-ilustradora-optimizado.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg" href="/img/logos/cl.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<header>
		
			<div class="logo">
				<a href="http://cristinaleonilustradora.com/" title="Cristina León Ilustradora, Bogotá, Colombia" class="link-img">
				<img src="/img/logos/cristina-leon-ilustradora-optimizado.svg" alt="Cristina León Ilustradora, Bogotá, Colombia">
				</a>
			</div>
	
			<a href="http://cristinaleonilustradora.com/" title="Cristina León Ilustradora, Bogotá, Colombia">
			<h1>{heading}</h1>
			</a>

			<nav>
				<ul class="nav-links-list">
					<li>
						<a class:list={["nav-link", "gradient", isPortafolio && "current-page"]} href={portafolio.href}>{portafolio.label}</a>
					</li>
					<li>
						<a class:list={["nav-link", isBiografia && "current-page"]} href={biografia.href}>{biografia.label}</a>
					</li>
				</ul>
			</nav>
	
		</header>
		<slot />
		<Footer />
	</body>
</html>

<style>
	li {
		margin-bottom: 0;
	}

	.gradient {
		background: linear-gradient(
			90deg,
			rgb(20, 96, 20),
			rgb(41, 41, 178), 
			rgb(179, 38, 179), 
			rgb(175, 34, 34), 
			rgb(171, 125, 40), 
			rgb(177, 177, 41), 
			rgb(20, 96, 20),
			rgb(41, 41, 178)
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
